
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform : capitalize;
  text-decoration : none;
}

// .container{
//   height: 100;
//   background: url(../assets/images/images.jpeg) no-repeat;
//   background-size: cover;
//   background-position: center;
// }

header{
  position: fixed;
  top:0;
  left:0; right:0;
  // background: radial-gradient(circle, #dde6ef, #073761);
  background: linear-gradient(135deg, #326694, #073761);
  box-shadow: 0 5px 10px rgba(0,0,0,.9);
  padding :20px 7%;
  display: flex;
  justify-content: space-between;
  z-index:1000;
}

header .logo{
width: 70px;
// height: 70px;
// border-radius: 100px / 50px;
// background: radial-gradient(circle, white, #073761);

}

header .navbar ul {
  list-style : none;

}

header .navbar ul li {
  position: relative;
  float:left;
}

header .navbar ul li a {
  font-size:20px;
  padding:20px;
  color: white;
  display: block;
}

header .navbar ul li a:hover {
background-color: white;
border-radius: 6px;
color: #073761;
}

header .navbar ul li ul {
  position:absolute;
  left: 0;
  width:200px;
  background: #073761;
  color:white;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top : 1px solid rgba(0,0,0,0.1);

}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

// below is the code to display
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar{
  display: none;
  margin-top:5px;
  font-weight: bold !important;
}

header label{
  font-size:20px;
  color: white;
  cursor: pointer;
  display: none;

}


@media(max-width:991px){

  header{
    padding:20px;
  }

  header label {

    display: initial;
  }

  header .navbar {
    position: absolute; // push the header details down
    top:100%;
    left:0;
    right:0;
    background: #073761;
    color:white;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: none;

  }

  //makes everything in line
  header .navbar ul li {
    width: 100%;
  }


  header .navbar ul li ul{
    position: relative;
    width:100%; //expands other elements of dropdown
  }

  header .navbar ul li ul li {
    background: #073761;
    color:white;
  }

  //mostly you dont need it
  header .navbar ul li ul li ul{
    width: 100%;

  }


  //to get the items on checked
  #menu-bar:checked ~ .navbar{
   display: initial;
  }

  // header .logo{
  //   width: 30px;
  //   height: 30px;
  //   border-radius: 100px / 50px;
  //   background: radial-gradient(circle, white, #073761);
  //   }
}
