
 <div class="container">
   <div class="row">
     <div class="left">
      <img src="../../assets//original_images/Car_Wash.jpg" alt="Car wash">
     </div>
    <div class="right">
      <div class="content">
        <h4>Car Wash</h4>
        <p>PETRICHOR provided the design plans for a fully automated carwash in City of Friendswood, Harris County.</p>
      </div>
    </div>
   </div>
 </div>


 <div class="container">
  <div class="row">
    <div class="left">
     <img src="../../assets//original_images/GAS_STATION_2.jpg" alt="Gas station">
    </div>
   <div class="right">
     <div class="content">
      <h4>Gas station</h4>
       <p>Proposed 10,000 Sq-Ft retail center with a convenience store and Gas Station. PETRICHOR provided complete design for the site and building, including Architectural & MEP and structural design.</p>
     </div>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="left">
     <img src="../../assets//original_images/GAS_STATION_5.jpg" alt="Gas station">
    </div>
   <div class="right">
     <div class="content">
       <p>Proposed remodel and site redesign of an abandoned building in City of Houston on Little York Rd. The abandoned building was analyzed for structural adequacy and redesigned with new architectural towers and buildout of a 5500 Sq-Ft retail space.</p>
     </div>
   </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="left">
     <img src="../../assets//original_images/GAS_STATION_6.jpg" alt="Gas station">
    </div>
   <div class="right">
     <div class="content">
       <p>The site presented a unique challenge with limited area owing to proposed landscape buffers and existing easements. The project is located in City of Pearland and PETRICHOR provided complete Engineering including planning and construction management services.</p>
     </div>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="left">
     <img src="../../assets//original_images/GROCERY STORE 1.png" alt="Gas station">
    </div>
   <div class="right">
     <div class="content">

       <p>PETRICHOR provided complete turnkey engineering services for a meat market and Grocery store in Liberty, TX. The design services included Architectural & Structural design services in additional to site development and grading.</p>
     </div>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="left">
     <img src="../../assets//original_images/GROCERY STORE 2.png" alt="Grocery Store">
    </div>
   <div class="right">
     <div class="content">
       <p>PETRICHOR provided complete turnkey engineering services for the Grocery store in Livingston, TX. The design services included Traffic studies, Roadway extension, traffic signal, Architectural & Structural design services in additional to site development and grading.</p>
     </div>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="left">
     <img src="../../assets//original_images/GROCERY STORE 2.png" alt="Grocery Store">
    </div>
   <div class="right">
     <div class="content">
       <p>PETRICHOR provided complete turnkey engineering services for the Grocery store in Livingston, TX. The design services included Traffic studies, Roadway extension, traffic signal, Architectural & Structural design services in additional to site development and grading.</p>
     </div>
   </div>
  </div>
</div>

