<!-- <div class="about-container">
  <div class="image-container">
    <div class="image-wrapper" *ngFor="let imageURL of imageURLs; let i = index">
      <img src = "{{imageURL}}" alt="Image{{i+1}}" class="image" (mouseover)="onMouseOver(i)" (mouseout)="onMouseOut()">
    </div>
  </div> -->

<div class="container">
  <div class="box">
    <img src="../../assets/images/aboutus7.jpeg">
  </div>
  <div class="box">
    <img src="../../assets/images/aboutus8.png">
  </div>
  <div class="box">
    <img src="../../assets/images/aboutuspic4.jpeg">
  </div>
  <div class="box">
    <img src="../../assets/images/aboutus9.jpeg">
  </div>
</div>

<div><h2 class="headings">ABOUT US</h2></div>
<p class="paragraph"> {{ paraDetails }}</p>

