<!-- <div class="about-container">
  <div class="image-container">
    <div class="image-wrapper" *ngFor="let imageURL of imageURLs; let i = index">
      <img src = "{{imageURL}}" alt="Image{{i+1}}" class="image" (mouseover)="onMouseOver(i)" (mouseout)="onMouseOut()">
    </div>
  </div> -->

<div class="container">
  <div class="box">
    <img src="../../assets/aboutus7.jpeg" alt="aboutUS-pic1">
  </div>
  <div class="box">
    <img src="../../assets/aboutus8.png" alt="aboutUS-pic2">
  </div>
  <div class="box">
    <img src="../../assets/aboutuspic4.jpeg" alt="aboutUS-pic3">
  </div>
  <div class="box">
    <img src="../../assets/aboutus9.jpeg" alt="aboutUS-pic4">
  </div>
</div>

<div><h2 class="headings">ABOUT US</h2></div>
<p class="paragraph"> {{ paraDetails }}</p>

