.container{
  margin-top:8%;
}

h1{
  font-weight: bold;
}
section {
  height: 50vh;
  display: grid;
  place-items: center;
  position: relative;
  background-color: rgb(213, 196, 223);
  overflow: hidden;
  width: 100vw;
}

section::before {
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/assets/original_images/GAS _STATION_1.jpg');
  z-index: 1;

}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.content-para-right{
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
margin-top:5%;
margin-left: 10%;
justify-content: center;
align-items: center;
font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;;


}

h3{
  color:#073761;
  font-weight: 900;
margin-left:35%;
text-decoration: underline;

}

.content-left {
  padding: 20px;
  background-color: rgb(213, 196, 223);
  border-radius: 5px;
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);
}

.content-left li {
  margin-left: 20px;
}
.about{
  margin-top:1rem;
  font-weight: bold;
  font-size: 2rem;
}

h4 {
  margin: 15px;
  color: #073761;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}



a {
  color: #073761;
  transition: color 0.3s;
  justify-content: center;
  align-items: center;
  margin:7rem;
  font-size:30px

}

a:hover {
  color: #073761;
  box-shadow: 8px 8px 10px rgba(0,0,0,.9);
  text-decoration: none;
}


@media (max-width: 768px) {
  .content-left {
    padding: 15px;
  }

  h4 {
    font-size: 1.5em;
  }

  ul {
    flex-direction: column;
    gap: 10px;
  }
}
