
<div class="container">
  <section class="section-top col-12">
    <div class="content">
      <h1>Commercial</h1>
    </div>
  </section>

 <div clas="content-left">
  <p  class="about">We offer services for :-</p>
 <ul>
  <li><a routerLink="/commercial">Commercial</a></li>
   <li><a routerLink="/landDev">Land Development</a></li>
  <li><a routerLink="/publicWorks">Public Works</a></li>
 </ul>
 <router-outlet></router-outlet>
 </div>
  <div class="content-para-right">
    <h3>Commercial</h3>
    <ul>
      <li>
        	<h4>Master planning & Feasibility studies</h4>
          <p> <img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Land plan, Site analysis, Cost estimation, compliance with planning & zoning and timeline.</p>
      </li>
      <li>
        <h4>Detention and Mitigation studies</h4>
        <p>
          <img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> 	Design and implementation of site-specific detention systems to manage stormwater runoff, mitigate flooding risks, and comply with local environmental regulations, ensuring a sustainable approach to water management on construction sites.
        </p>
      </li>
      <li><h4>Stormwater Quality and Management</h4></li>
      <ul>
        <li>
          <img src="../../../assets/original_images/arrow.png" style="width:20px;  margin-left:20px">	Hydrologic And Hydraulic Analysis</li>
          <br>
        <li> <img src="../../../assets/original_images/arrow.png" style="width:20px ;  margin-left:20px" >	 Stormwater Quality And Management</li>
        <br><br>
        <li> <img src="../../../assets/original_images/arrow.png" style="width:20px;  margin-left:20px">	 Storm Drainage</li>
        <br><br>
        <li><img src="../../../assets/original_images/arrow.png" style="width:20px ;  margin-left:20px">	 Stormwater Treatment Systems</li>
        <br><br>
        <li><img src="../../../assets/original_images/arrow.png" style="width:20px;  margin-left:20px">	 Erosion Control</li>
        <br><br>
        <li> <img src="../../../assets/original_images/arrow.png" style="width:20px;  margin-left:20px">	 Low Impact Development</li>
        <br><br>
      </ul>
      <li> <img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Planning and design of water & sewer and compliance with all regulatory standards.</li>
    </ul>

  </div>

</div>

