<!--
<div class = "slider col-12">
   <div class="load">
  </div>
  <div class="content">
    <div class="principal">
      <section class="logo-container col-4">
     <h1><b>PETRICHOR GROUP</b><span>Engineering Visions into Reality</span></h1>
      </section>
    </div>
  </div>
</div> -->

<section class="section-top col-12">
  <div class="content">
  <h1><b>PETRICHOR</b></h1>
   <h3><span>Engineering Visions into Reality</span></h3>
  <!-- <a class ="portfolio" href = "#"> View Portfolio</a> -->
</div>
</section>
