
<div class="container">
  <section class="section-top col-12">
    <div class="content">
      <h1>Land Development</h1>
    </div>
  </section>

 <div clas="content-left">
  <h4 class="about">We offer services for :-</h4>
 <ul>
  <li><a routerLink="/commercial">Commercial</a></li>
   <li><a routerLink="/landDev">Land Development</a></li>
  <li><a routerLink="/publicWorks">Public Works</a></li>
  <router-outlet></router-outlet>
 </ul>
 </div>
  <div class="content-para-right">
    <h3>Land Development</h3>
    <ul>
      <li>
        	<h4>Preliminary Feasibility and Engineering</h4>
          <p> <img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Create Land plan, perform Site analysis, coordinate with regulatory authorities for development needs and provide cost estimates.</p>
      </li>
      <li>
        <h4>Subdivision Platting and Zoning</h4>
        <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px">
          Provide master plan and platting services for the development.
        </p>
      </li>
      <li><h4>Hydrology & Hydraulic Modeling: </h4>
      <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Advanced modeling for storm water management and flood risk management and mitigation. </p></li>
     <li>
      <h4>Utility </h4>
      <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Plan and design dry and wet utilities to serve the needs of the community integration with existing and proposed municipal facilities. </p>
     </li>
     <li>
      <h4>Paving and infrastructure </h4>
      <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Design of roadways and traffic systems with efficient and functioning drainage systems with emphasis on durability and public safety.</p>
     </li>
<li>
  <h4>Landscape Architecture </h4>
    <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Create aesthetic, sustainable and unique landscapes enhancing the communities. </p>
</li>

    <li>
      <h4>Facilities</h4>
      <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Water and wastewater facility design and management for Municipal districts.</p>
    </li>
    <li>
      <h4> Construction management </h4>
      <p><img src="../../../assets/original_images/dot.png" style="width:15px; margin-left:10px"> Oversee construction within budget and timeline including pre-construction services – bidding, contract administration etc. </p>
    </li>
    </ul>

  </div>

</div>


